.table-title{
 font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #625ED7;
}
.maintable
{
    margin-top: 100px;
    margin-left: 500px;
}
.tablehead
{
    background: #625ED7;
}
@import url(https://fonts.googleapis.com/earlyaccess/notonaskharabic.css);